{% extends 'base.html' %}
{% load static %}
{% block title %}FAQ{% endblock %}
{% block content %}
 
    <div class="container">
        <div style="text-align: center;">
            <h1><br>Terms and Conditions for SLICK SERVICES</h1>
        </div>
        <div style="text-align: justify;">
            <p><br>Last Updated: 7/18/2023<br><br>Please read these Terms and Conditions ("Terms") carefully before using the services provided by Slick Services. By accessing or using our web development services, you agree to be bound by these Terms. If you do not agree with these Terms, please refrain from using our services.<br><br></p>
            <h6><strong>1. Scope of Services:</strong></h6>
            <p>a. Slick Services offers web development and related services to clients worldwide. We specialize in creating custom websites, web applications, and e-commerce solutions.</p>
            <p>b. Our services are provided on an "as-is" and "as-available" basis. While we strive to ensure the accuracy and functionality of our deliverables, we do not guarantee that they will be error-free or meet all of your requirements.</p>
            <h6><strong>2. Client Responsibilities:</strong></h6>
            <p>a. To utilize our services, you must provide accurate and complete information during the project initiation and development process. Any delays or inaccuracies in providing required information may affect project timelines.</p>
            <p>b. You are responsible for the content and materials (text, images, media, etc.) that will be integrated into the web development project. You must ensure that you have the necessary rights to use such content, and it does not violate any copyright or intellectual property laws.</p>
            <p>c. You agree to cooperate with Slick Services during the development process and provide timely feedback and approvals when required.</p>
            <h6><strong>3. Payment and Fees:</strong></h6>
            <p>a. Payment terms will be agreed upon before the project commences. You agree to make timely payments according to the agreed schedule.</p>
            <p>b. Slick Services reserves the right to suspend or terminate services if payments are not made as per the agreed terms.</p>
            <h6><strong>4. Intellectual Property:</strong></h6>
            <p>a. Any intellectual property, including but not limited to code, designs, and graphics, created by Slick Services during the project will remain the property of Slick Services until full payment is received.</p>
            <p>b. Upon receiving full payment, Slick Services grants you a non-exclusive, non-transferable license to use the completed project solely for your business purposes.</p>
            <h6><strong>5. Confidentiality:</strong></h6>
            <p>a. Both parties agree to treat any confidential information disclosed during the project as strictly confidential. This includes project details, pricing, business strategies, and other sensitive information.</p>
            <p>b. Upon receiving full payment, Slick Services grants you a non-exclusive, non-transferable license to use the completed project solely for your business purposes.</p>
            <h6><strong>6. Termination:</strong></h6>
            <p>a. Either party may terminate the project for cause if the other party materially breaches these Terms and fails to remedy the breach within a reasonable timeframe.</p>
            <p>b. If you terminate the project before completion, you agree to pay for the services rendered up to the termination date.</p>
            <h6><strong>7. Limitation of Liability:</strong></h6>
            <p>a. Slick Services will not be liable for any indirect, consequential, or incidental damages arising from the use of our services or the completed project.</p>
            <p>b. In no event shall Slick Service's liability exceed the total fees paid for the specific project.</p>
            <h6><strong>8. Governing Law:</strong></h6>
            <p>These Terms shall be governed by and construed in accordance with the laws of Slick Services, without regard to conflicts of law principles.</p>
            <h6><strong>9. Modification of Terms:</strong></h6>
            <p>Slick Services reserves the right to modify or update these Terms at any time without prior notice. It is your responsibility to review these Terms periodically for changes.</p>
            <h6><strong>10. Contact Us:</strong></h6>
            <p>If you have any questions or concerns about these Terms or our services, please contact us at:</p>
            <p>SLICK SERVICES</p>
            <p>📧 Email: <a href="mailto:info@slickservices.in">info@slickservices.in </a></p>
            <p>☎️ Phone: +91 90099 89797</p>
            <p>Thank you for choosing Slick Services. We look forward to delivering exceptional web development solutions tailored to your needs.</p>
         </div>    
    </div>
    
{% endblock %}
